@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reset any overrides */
.hidden {
  display: none !important;
}
@media (min-width: 768px) {
  .md\:flex {
    display: flex !important;
  }
  .md\:hidden {
    display: none !important;
  }
}
